{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-16 mt-4">
        <div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Modifier mon mot de passe</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Modifier mon email
{% endblock %}

