includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    strictRules:
        noVariableVariables: false


    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

