
<footer class="bg-white border-gray-200 dark:bg-gray-900 p-4">
    <div class="w-full flex justify-center gap-4">
      <span class="text-gray-700 sm:text-center dark:text-gray-200">Site propulsé grâce à <a href="{{ get_env('GIT_URL') }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Kumora</a></span>
        <span class="text-gray-500 sm:text-center dark:text-gray-400">
            Version {{ get_env('APP_VERSION', '0.0.1') }}
        </span>
    </div>
</footer>
